[DEFAULT]
ignoreip = {{ fail2ban_ignoreip }}
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}

[sshd]
enabled  = true
port     = ssh
logpath  = /var/log/secure
maxretry = {{ fail2ban_maxretry_ssh }}

[nginx-4xx]
enabled  = true
filter   = nginx-4xx
logpath  = /var/log/nginx/access.log
maxretry = {{ fail2ban_maxretry_nginx_4xx }}

[nginx-auth]
enabled  = true
filter   = nginx-auth
logpath  = /var/log/nginx/access.log
maxretry = {{ fail2ban_maxretry_nginx_auth }}
